@import "src/styles/colors";

#ProfilePage {

  .TopBar {
    background: $white;
    box-shadow: $shadow;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    .ui.button {}
  }

  .MyOrgContainer {
    background: $white;
    box-shadow: $shadow;
    padding: 15px;
    border-radius: 5px;

    .columns {
      display: flex;
      height: 150px;

      .left {
        //width: 150px;
        .logo {
          width: 150px;
          height: 150px;
          border-radius: 100%;

          img {
            border-radius: 100%;
          }
        }
      }

      .right {
        padding-left: 50px;

        .name {
          font-size: 16px;
          padding-bottom: 8px;
        }
      }
    }

    .description {
      font-size: 14px;
      .text {
        width: 100%;
        height: 55px;
        text-overflow:ellipsis;
        overflow:hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
    }
  }
}