@import "src/styles/colors";

#OrganizationDetailsPage {
  .OrganizationData {
    background: $white;
    box-shadow: $shadow;
    padding: 15px;
    border-radius: 5px;

    .columns {
      display: flex;
      height: 150px;

      .left {
        //width: 150px;
        .logo {
          width: 150px;
          height: 150px;
          border-radius: 100%;

          img {
            border-radius: 100%;
          }
        }
      }

      .right {
        padding-left: 50px;
        display: flex;
        flex: 1 1 auto;

        .info {
          flex: 1 1 auto;
          .name {
            font-size: 16px;
            padding-bottom: 8px;
          }
        }

        .actions {
          position: relative;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            color: $grey;
            margin: 0 0 5px 0;
          }

          &:hover {
            border-radius: 100%;
            background: $grey_op;
            cursor: pointer;
          }

          .menu {
            position: absolute;
            width: 150px;
            box-shadow: $shadow;
            background: $white;
            right: 0;
            top: 0;

            &>div {
              padding: 5px 8px;

              &:hover {
                cursor: pointer;
                background: $grey_op;
              }
            }
          }
        }
      }
    }

    .description {
      font-size: 14px;
      .text {
        width: 100%;
        height: 55px;
        text-overflow:ellipsis;
        overflow:hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
    }

    .discountInfo {
      //width: 135px;
      display: flex;
      &>.separator {
        margin: 0 15px;
      }

      &>div {
        display: flex;
        justify-content: space-between;
        &>.separator {
          margin: 0 10px;
        }
      }
    }
  }

  .SetDiscountModal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .EmployeesTable {
    background: $white;
    box-shadow: $shadow;
    border-radius: 5px;
    margin-top: 20px;
    height: calc(100% - 200px);

    &>.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      background: $white_2;
      padding: 10px 15px;

      .title {
        i {
          font-size: 30px;
          position: relative;
          top: 5px;
          left: 5px;
          color: $green;
        }
        span {
          margin-left: 15px;
          font-size: 15px;
          color: $green;
        }
      }

      .searchWrapper {
        .ui.input {
          width: 300px;

          input {
            color: $grey;
            &:focus {
              color: $green;
              border-color: $green;
            }
          }
        }
      }
    }

    &>.elWrapper {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 15px;
      margin-top: 5px;
      height: calc(100% - 65px);
      overflow-y: auto;

      .EmployeesTableItem {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;

        .logo {
          width: 90px;
          height: 90px;
          border-radius: 100%;

          img {
            width: 90px;
            height: 90px;
            border-radius: 100%;
          }
        }
        .name {
          padding: 5px 0;
        }

        &:hover {
          background: $grey_op;
          cursor: pointer;
          border-radius: 5px;
        }
      }

      .empty {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: grey;
      }
    }
  }
}